<%include partial/header%>
<form class="" action="/add_shoppingaddr" method="post">

  <br>
  <label for="">SAName:</label>
  <br>
  <input type="text" name="SAName" value="">
  <br>
  <label for="">RecepientName:</label>
  <br>
  <input type="text" name="RecepientName" value="" >
  <br>
  <label for="">Street:</label>
  <br>
  <input type="text" name="Street" value="">
  <br>
  <label for="">SNumber:</label>
  <br>
  <input type="text" name="SNumber" value="">
  <br>
  <label for="">City:</label>
  <br>
  <input type="text" name="City" value="">
  <br>
  <label for="">Zip:</label>
  <br>
  <input type="text" name="Zip" value="">
  <br>
  <label for="">State:</label>
  <br>
  <input type="text" name="State" value="">
  <br>
  <label for="">Country:</label>
  <br>
  <input type="text" name="Country" value="">
  <br>


<button type="submit" name="button">submit</button>
</form>
<%include partial/footer%>
