<%include partial/header%>
<h1>Add Card!</h1>
<form class="" action="/add_card" method="post">
  <label for="">Card id:</label>
  <br>
  <input type="text" name="CCNumber" value="" >
  <br>
  <label for="">SecNumber:</label>
  <br>
  <input type="text" name="SecNumber" value="">
  <br>
  <label for="">OwnerName:</label>
  <br>
  <input type="text" name="OwnerName" value="" >
  <br>
  <label for="">CCType:</label>
  <br>
  <input type="text" name="CCType" value="">
  <br>
  <label for="">CCAddress:</label>
  <br>
  <input type="text" name="CCAddress" value="">
  <br>
  <label for="">ExpDate:</label>
  <br>
  <input type="text" name="ExpDate" value="">
  <br>


<button type="submit" name="button">submit</button>
</form>

<%include partial/footer%>
