<%include partial/header%>
<h1>home page!</h1>

<p>welcome to Newark_IT</p>

<a href="/signin">Signin</a>
<br>
<a href="/signup">Signup</a>
<br>
<a href="/userpage">user detail</a>
<br>
<!-- <a href="/signup">user page</a> -->
<br>
<p></p>
<p></p>
<p></p>
<br>
<a href="/inventory">this is inventory</a>
<br>
<a href="/specialcheck">special transaction check</a>
<br>
<a href="http://la.beta.moe:5000/">this is statistic</a>
<%include partial/footer%>
