<%include partial/header%>
<h2>Before you buy anything, set default first</h2>
<form class="" action="/set_default" method="post">
  <label for="">set default card number:</label>
  <br>
  <input type="text" name="card" value="" >
  <br>
  <label for="">Set default address name:</label>
  <br>
  <input type="text" name="address" value="">
  <br>
  <label for="">OwnerName:</label>
  <br>


<button type="submit" name="button">submit</button>
</form>

<%include partial/footer%>
