<%include partial/header%>
<h1>sign in page</h1>
<form class="" action="/signin" method="post">
  <input type="text" name="id" value="" placeholder="id ">
  <input type="text" name="password" value="" placeholder="password">

<button type="submit" name="button">submit</button>
</form>

<%include partial/footer%>
