<%include partial/header%>
<h1>Sign Up!</h1>
<form class="" action="/signup" method="post">
  <label for="">id:</label>
  <br>
  <input type="text" name="id" value="" >
  <br>
  <label for="">password:</label>
  <br>
  <input type="text" name="password" value="">
  <br>
  <label for="">First Name:</label>
  <br>
  <input type="text" name="Fname" value="" >
  <br>
  <label for="">Last Name:</label>
  <br>
  <input type="text" name="Lname" value="">
  <br>
  <label for="">Email:</label>
  <br>
  <input type="text" name="Email" value="">
  <br>
  <label for="">Address:</label>
  <br>
  <input type="text" name="Address" value="">
  <br>
  <label for="">phone:</label>
  <br>
  <input type="text" name="phone" value="">
  <br>
  <label for="">status:</label>
  <br>
  <input type="text" name="status" value="">
  <br>

<button type="submit" name="button">submit</button>
</form>



<%include partial/footer%>
