<%include partial/header%>
<h1>Special Transactions check:</h1>

<form class="" action="/specialcheck_c" method="post">
  <h5>based on name of customer:</h5>
  <input type="text" name="c_name" value="">
<button type="submit" name="button">check</button>
</form>

<form class="" action="/specialcheck_p" method="post">
  <h5>based on name of product:</h5>
  <input type="text" name="p_name" value="">
<button type="submit" name="button">check</button>
</form>

<%include partial/footer%>
